body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-sizing: 0 3px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.form-content {
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}

.form-content label {
    font-weight: 490;
    display: inline-block;
    margin-bottom: 4px;
}

.form button {
    width: 100%;
    padding: 10px;
    margin-top: 18px;
    cursor: pointer;
}

.btn {
    font-weight: 490;
}

#msgError {
    text-align: center;
    color: #920000fd;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

.box-select {
    font-weight: 490;
    margin-top: 18px;
}

#productList {
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin-top: 18px;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 3px;
}